# Project Setting
.vscode/
sample
.DS_Store

# QT temporary files
build*/
*.o
*.qrc
*.stash
.qtc_clangd/
qrc*.cpp
app/dashboard/dashboard
Makefile

# Python Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python Temporary Files
__pycache__