Adafruit-Blinka==8.20.1
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-framebuf==1.6.3
adafruit-circuitpython-ina219==3.4.22
adafruit-circuitpython-pca9685==3.4.10
adafruit-circuitpython-register==1.9.16
adafruit-circuitpython-requests==2.0.1
adafruit-circuitpython-ssd1306==2.12.14
adafruit-circuitpython-typing==1.9.4
Adafruit-PlatformDetect==3.49.0
Adafruit-PureIO==1.1.11
msgpack==1.0.5
numpy==1.25.2
opencv-python==4.8.0.74
packaging==23.1
piracer-py==0.1.1
pyftdi==0.54.0
pyserial==3.5
python-can==4.2.2
pyusb==1.2.1
RPi.GPIO==0.7.1
typing_extensions==4.7.1
wrapt==1.15.0
pycario==1.24.0
PyGobject==3.44.1
